<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
 <dict>
  <key>frames</key>
  <dict>
   <key>./Border</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{413,94}</string>
    <key>spriteSourceSize</key>
    <string>{419,99}</string>
    <key>textureRect</key>
    <string>{{0,0},{413,94}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./Exit</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{394,76}</string>
    <key>spriteSourceSize</key>
    <string>{394,77}</string>
    <key>textureRect</key>
    <string>{{0,175},{394,76}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./ExitPressed</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{396,74}</string>
    <key>spriteSourceSize</key>
    <string>{396,74}</string>
    <key>textureRect</key>
    <string>{{0,485},{396,74}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./PlayGame</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{393,77}</string>
    <key>spriteSourceSize</key>
    <string>{397,79}</string>
    <key>textureRect</key>
    <string>{{0,96},{393,77}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./PlayGamePressed</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{395,75}</string>
    <key>spriteSourceSize</key>
    <string>{397,75}</string>
    <key>textureRect</key>
    <string>{{0,408},{395,75}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./Score</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{394,76}</string>
    <key>spriteSourceSize</key>
    <string>{394,77}</string>
    <key>textureRect</key>
    <string>{{0,253},{394,76}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
   <key>./ScorePressed</key>
   <dict>
    <key>aliases</key>
    <array/>
    <key>spriteOffset</key>
    <string>{0,0}</string>
    <key>spriteSize</key>
    <string>{397,75}</string>
    <key>spriteSourceSize</key>
    <string>{397,75}</string>
    <key>textureRect</key>
    <string>{{0,331},{397,75}}</string>
    <key>textureRotated</key>
    <false/>
   </dict>
  </dict>
  <key>metadata</key>
  <dict>
   <key>format</key>
   <integer>3</integer>
   <key>size</key>
   <string>{415,561}</string>
   <key>textureFileName</key>
   <string>MenuItems.png</string>
  </dict>
 </dict>
</plist>
